/*
Design by TemplateAccess.com
Released for free under a Creative Commons Attribution 3.0 License
*/

@charset "utf-8";
body { margin:0; padding:0; width:100%;  background: url(/static/images/main_bg.gif) top center; }
html { padding:0; margin:0;}
li.bg, .bg { clear:both; border-bottom:1px  solid #cccccc;   border-top:1px  solid #cccccc; padding:0; margin:10px 0; background:#fff; list-style:none; height:1px;}
li.bg2, .bg2 { clear:both; border-bottom:1px dashed #dfdfdf;   padding:0; margin:10px 0; background:none; list-style:none;}
p.clr, .clr { clear:both; padding:0; margin:0;}
.main { margin:0 auto; padding:0;}
h2 {  font: normal 24px  Georgia, "Times New Roman", Times, serif; color:#4b4b4b; padding:10px 5px; margin:5px 0 10px 0; }
h2 span { font: normal 12px Georgia, "Times New Roman", Times, serif; color:#959595;}
p { font: normal 12px Georgia, "Times New Roman", Times, serif; color:#5f5f5f; padding:5px; margin:0; line-height:1.8em;}
a { color:#3085ca; text-decoration:none;}
/* header */
.header_resize { margin:0 auto; padding:0; width:970px;}
.header { margin:0; padding:0; background: url(/static/images/header_bg.jpg) top center repeat-x;}
/* logo */
.logo { width:500px; margin:0 auto; padding:0; float:left;}
h1 { margin:0; padding:33px 0; color:#fff; font:normal 40px/1.2em Georgia, "Times New Roman", Times, serif; text-transform:uppercase; letter-spacing:-2px;}
h1 a, h1 a:hover { color:#fff; text-decoration:none;}
h1 span { font-size:32px; letter-spacing:-1px;}
h1 small { display:block; margin:-4px 0; padding:0 0 0 176px; font:normal 13px/1.2em Georgia, "Times New Roman", Times, serif; text-transform:none; letter-spacing:normal;}
/* search */
.search { padding:13px 0 0 0; margin:0 auto; width:250px; float:right;}
.search form { float:right; padding:0; margin:0;}
.search span { display:block; float:left; background:#fff;  width:165px; padding:2px 5px; height:21px; border:1px solid #dedede;}
.search form .keywords {  line-height:14px; height:14px; float:left; background:none; border:0; padding:4px 2px; margin:0; font:bold 12px Arial, Helvetica, sans-serif; color:#464646;}
.search form .button { float:left; margin:0; padding:0 0 0 5px;}
/*menu*/
.menu { padding:0;  margin: 0 ; width:410px;  float:left }
.menu ul {  padding:0; margin:0; list-style:none; border:0; float:left;}
.menu ul li { float:left; margin:0; padding:0; border:0;}
.menu ul li a { float:left; margin:0; padding:23px 15px; color:#fff; font:normal 12px Georgia, "Times New Roman", Times, serif; text-decoration:none; text-transform:uppercase;}
.menu ul li a:hover { background:url(/static/images/hover.gif) top repeat-x; }
.menu ul li a.active {  background:url(/static/images/hover.gif) top repeat-x; }
/*body*/
.body_resize { margin:0 auto; padding:10px 35px; background:#fff; width:900px;}
.body { margin:0; padding:0;  background:#6d7c83 url(/static/images/body_bg.gif) top repeat-x;}
.body h2 {  font: normal 24px  Georgia, "Times New Roman", Times, serif; color:#4b4b4b; padding:10px 5px; margin:5px 0 10px 0; }
.body h2 span { font: normal 12px Georgia, "Times New Roman", Times, serif; color:#959595;}

.body p span { font: bold 14px Georgia, "Times New Roman", Times, serif; color:#4b4b4b; padding:0; margin:0;}
.body img { float:left; margin:5px; padding:0;}
.body img.floated { float:left; margin:5px 10px 5px 0; padding:0;}
.left { float:left; width:630px; margin:0; padding:0;}
.right { float:right; width:260px; margin:0; padding:0;}
.right ul { list-style:none; margin:5px 10px; padding:0;}
.right li {  background: url(/static/images/ul_li.gif) 10px 7px no-repeat; font: normal 14px Arial, Helvetica, sans-serif; color:#464646; padding:5px 0; margin:3px 0;}
.right li a {  padding:0 0 0 25px; margin:0; font: normal 13px Georgia, "Times New Roman", Times, serif; color:#5f5f5f; text-decoration:none;}
.right li a:hover { color:#3085ca; text-decoration:none; }
.right ul.sponsors { list-style:none; margin:5px 10px; padding:0;}
.right li.sponsors { background:none; font: normal 11px Georgia, "Times New Roman", Times, serif; color:#959595; padding:6px 0;}
.right li.sponsors a {  padding:0 0 0 5px; margin:0; font: normal 13px Georgia, "Times New Roman", Times, serif; color:#5f5f5f; text-decoration:none;}
.right li.sponsors strong { color:#3085ca;}
/* FBG */
.FBG_resize { margin:0 auto; padding:10px 35px; width:900px; background:#e6e6e6;}
.FBG {margin:0; padding:0; background:#6d7c83;}
.FBG img { float:left; margin:5px 10px 5px 0; padding:0;}
.FBG .blok { width:270px; float:left; padding:10px 5px; margin:0;}
.FBG .blok2 { width:328px; float:left; padding:10px 5px; margin:0;}
/* footer */
.footer_resize { margin:0 auto; padding:10px 35px; width:900px;  background:#1a68a0;}
.footer {padding:0; margin:0 auto; background:#6d7c83;}
.footer p { color:#fff; font: normal 12px Arial, Helvetica, sans-serif; padding:0 0 0 5px; margin:0; line-height:1.8em;}
.footer a { color:#fff; text-decoration:none; font-weight:bold;}
/********** contact form **********/
#contactform { margin:0; padding:5px; }
#contactform * { color:#F00; }
#contactform ol { margin:0; padding:0; list-style:none; }
#contactform li { margin:0; padding:0; background:none; border:none; display:block; clear:both; }
#contactform li.buttons { margin:5px 0 5px 0; }
#contactform label { margin:0; width:110px; display:block; padding:10px 0; color:#666; font: normal 12px Arial, Helvetica, sans-serif; text-transform:capitalize; float:left; }
#contactform label span { color:#F00; }
#contactform input.text { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:5px 2px; height:16px; background:#fff; float:left; }
#contactform textarea { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:2px; background:#fff; float:left; }
#contactform li.buttons input { border:1px solid #000; background:#ea7d1b; padding:10px; margin:10px 0 0 110px;  color:#fff; float:left; font: normal 12px Arial, Helvetica, sans-serif;}
p.response { text-align:center; color:#F00; font: normal 11px Georgia, "Times New Roman", Times, serif; line-height:1.8em; width:auto; }