
<div class="col-md-12 column" >
  <div class="row">
      <div class="col-md-offset-2 col-md-2">
          <div class="foot-1" style="display: grid">
              <h4>Quick Links</h4>
              <a href="#" title="Home">Home</a>
              <a href="#" title="About Us">About Us</a>
              <a href="#" title="FAQs">FAQs</a>
              <a href="#" title="Services">Services</a>
              <a href="#" title="Contact">Contact</a>
          </div>
      </div>

      <div class="col-md-2">
          <div class="foot-1" style="display: grid">
              <h4>Services</h4>
              <a href="#" title="Services">一个可爱的服务</a>
              <a href="#" title="Services">一个可爱的服务</a>
              <a href="#" title="Services">一个可爱的服务</a>
              <a href="#" title="Services">一个可爱的服务</a>
              <a href="#" title="Services">一个可爱的服务</a>
          </div>
      </div>

      <div class="col-md-2">
          <div class="foot-1" style="display: grid">
              <h4>Address</h4>
              <a href="#" target="_blank">daba0007@163.com</a>
              <a href="#" target="_blank">(01) 123 456 789</a>
          </div>
      </div>

      <div class="col-md-2">
          <div class="foot-1">
              <h4>Follow Us</h4>
              <div class="social">
                  <i href="#" class="iconfont icon-tian7_facebook" style="font-size: 30px"></i>
                  <i href="#" class="iconfont icon-gpluscircled" style="font-size: 30px"></i>
                  <i href="#" class="iconfont icon-twitter3" style="font-size: 30px"></i>
              </div>
          </div>
      </div>

      </div>
 </div>