{% extends 'index.html' %}
{% block title %}Docker信息采集系统{% endblock %}
{% block content %}

<div class="jumbotron" style="height: 500px">
    <h1>
        我是主页
    </h1>
    <p>
        我就是主页的一些无聊的文字，如果你看完了你真的很无聊
        我就是主页的一些无聊的文字，如果你看完了你真的很无聊
        我就是主页的一些无聊的文字，如果你看完了你真的很无聊
        我就是主页的一些无聊的文字，如果你看完了你真的很无聊
        我就是主页的一些无聊的文字，如果你看完了你真的很无聊
        我就是主页的一些无聊的文字，如果你看完了你真的很无聊
        我就是主页的一些无聊的文字，如果你看完了你真的很无聊
        我就是主页的一些无聊的文字，如果你看完了你真的很无聊
        我就是主页的一些无聊的文字，如果你看完了你真的很无聊
        我就是主页的一些无聊的文字，如果你看完了你真的很无聊
        我就是主页的一些无聊的文字，如果你看完了你真的很无聊
        我就是主页的一些无聊的文字，如果你看完了你真的很无聊
        我就是主页的一些无聊的文字，如果你看完了你真的很无聊
    </p>
    <p>
         <a class="btn btn-primary btn-large" href="{% url 'home' %}">你还真想Learn more</a>
    </p>
</div>

{% endblock %}